<!--
// Citation:
// Date: 3/1/24
// Based on nodejs-starter-app
// This code's logic and structure is unoriginal. It has been adapted to work 
// for our group's schema. 
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
-->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Academic Paper Database</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>Academic Paper Database</h1>

        <nav>
            <a href="/">Home</a>
            &nbsp;

            <a href="/conferences">Conferences</a>
            &nbsp;

            <a href="/papers">Papers</a>
            &nbsp;
            
            <a href="/authors">Authors</a>
            &nbsp;
            
            <a href="/paperAuthors">Paper Authors</a>
            &nbsp;
            
            <a href="/organizations">Organizations</a>
            &nbsp;
            
            <a href="/authorOrganizations">Author Organizations</a>
            &nbsp;
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

</body>
</html>