/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*   ----- Variables  -----  */
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
   /* ----- Navigation ----- Override text links for navigation only.  */
  nav {
    background-color: lightgrey;
    padding: 10px;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  nav a:hover {
      color: red;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  } 
  
  /*  ----- Table ----- */
  table {
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 15px;
  }
  th {
    border: 1px solid;
    padding: 10px;
  }
  td {
    border: 1px solid;
    padding: 10px;
    text-align: center; 
    margin: auto;
  }
  
  /*  ----- Form ----- */
  form {
    border: 1px solid black;
    margin-top: 50px;
    padding: 10px;
    width: fit-content;
    max-width: 600px;
  }
  /* fieldset {} */
    legend {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal;
      margin-top: -20px;
      border: 1px solid black;
      background: white;
      width: fit-content;
      padding: 5px;
    }
  label {
    display: block;
    margin-top: 10px;
  }
  button {
    text-align: center;
  }
  input[type=text], input[type=email], input[type=url] {
    width: 400px;
  }
  input[type=submit] {
    display: block;
    margin-top: 15px;
  }
  select {
    max-width: 500px;
  }
